Package: drvpexpert
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer, Inc.
Version: 29
Description: Platform Expert
Build-Depends: build-base, drivertools, kernload
