Package: text-cmds
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: NetBSD Foundation
Version: 1997.11.10
URL: http://www.netbsd.org/
Description: Text commands
Build-Depends: build-base, libcurses
