Package: architecture
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer, Inc.
Version: 226
Description: Architecture-specific headers.
Build-Depends: build-base
