Package: m4
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: NetBSD Foundation
Version: 1998.10.06
URL: http://www.netbsd.org/
Description: Macro preprocessor
Build-Depends: build-base
