Package: tcp-wrappers
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Eindhoven University of Technology
Version: 7.6
URL: ftp://ftp.win.tue.nl/pub/security/tcp_wrappers-7.6.tar.gz
Description: TCP security wrappers
Build-Depends: build-base
