Package: hfs
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 67.1
Description: HFS/HFS+ commands
Build-Depends: build-base, diskdev-cmds, kernload
